*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    src: url(); 
}
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-image: url(Asset/Background.png);
    padding: 50px 0px;
}
.flex-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;
}
.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;
}
.box-form{
    width: 1213px;
    height: 721px;
    background-color: #F5F1CA;
    opacity: 0.98;
    border-radius: 20px;
}
.logo{
    width: 59px;
    height: 63px;
    margin-top: 60px;
    margin-left: 45px;
    margin-right: 15px;
}
.title{
    margin-left: 130px;
    margin-top: -48px;
    font-size: 24px;
}
.heading{
    font-size: 32px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 70px;
    margin-left: 45px;
}
.desc{
    font-size: 16px;
    margin-top: 4px;
    margin-left: 45px;
    margin-bottom: 38px;
}
label{
    font-size: 20px;
    font-weight: 700;
    margin-left: 46px;
    margin-bottom: 5px;
}
input{
    width: 452px;
    height: 40px;
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    margin-bottom: 10px;
    border-radius: 35px;
    border: 1px solid #484525;
    background-color: #FFFDE9;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-indent: 23px;
}
.input::-webkit-input-placeholder{
    color: #CDC792;
}
.btn-submit{
    width: 452px;
    height: 50px;
    margin-left: 45px;
    margin-bottom: 10px;
    border-radius: 35px;
    border: 0px;
    background-color: #A19A53;
    font-size: 24px;
    font-weight: 700;
}
.btn-submit:hover{
    cursor: pointer;
    background-color: #484525;
}
.question{
    font-size: 16px;
    font-weight: 500;
    margin-left: 150px;
}
.pic{
    width: 552px;
    height: 648px;
    overflow: auto;
    margin-top: -590px;
    margin-left: 625px;
}
form .error-msg{
    width: 452px;
    height: 40px;
    display: block;
    background: #484525;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
}